<div id='pokedex'>
  <div class='pokemon-index'>
    <form class='new-pokemon'>
      <div>
        <label 
          for='pokemon_name'>Name:</label>
        <input
          type='text'
          name='pokemon[name]'>
      </div>

      <div>
        <label 
          for='pokemon_attack'>Attack:</label>
        <input
          type='attack'
          name='pokemon[attack]'>
      </div>

      <div>
        <label 
          for='pokemon_defense'>Defense:</label>
        <input
          type='defense'
          name='pokemon[defense]'>
      </div>

      <div>
        <label 
          for='pokemon_image_url'>Image URL:*</label>
        <input
          type='text'
          name='pokemon[image_url]'>
      </div>
      
      <span class='flavor'>
        *For poke-pics, set to "/assets/pokemon_snaps/#{number}.png"
      </span>
      
      <div>
        <label 
          for='pokemon_poke_type'>Type:</label>
        <select
          id='pokemon_poke_type'
          name='pokemon[poke_type]'>
          <% Pokemon::TYPES.each do |type|%>
            <option><%= type %></option>
          <% end %>
        </select>
      </div>

      <button>Create Pokemon</button>
      <br>

    </form>

    <ul class='pokemon-list'></ul>
  </div

  ><div class='pokemon-detail'>
	</div

  ><div class='toy-detail'>
  </div>
</div>

<script type='text/html' id='template-pokemon-list-item'>
  <li 
    class='poke-list-item' 
    data-id='<%%= pokemon.get('id') %>'>
    name: <%%= pokemon.get('name') %><br>
    type: <%%= pokemon.get('poke_type') %>
  </li>
</script>

<script type='text/html' id='template-pokemon-detail'>
  <div class='detail'>
    <img src="<%%= pokemon.get('image_url') %>">
    <br>
    <form>
    <%% for(var attr in pokemon.attributes) { %>
      <label>
        <%%= attr %>
        <input 
          type='text' 
          value='<%%= pokemon.get('attr') %>' 
          name='pokemon[<%%=attr %>]'>
      </label>
      <br>
    <%% } %>

    <button>submit changes</button>
  </div>
  <ul class='toys'>
    <span style="font-weight: bold;">Toys:</span><br>
  </ul>
</script>

<script type='text/html' id='template-toy-list-item'>
  <li
    class='toy-list-item'
    data-id='<%%= toy.get('id') %>'
    data-pokemon-id='<%%= toy.get('pokemon_id') %>'>
    <span style='text-style:bold;'>
      Name:</span> <%%= toy.get('name') %>
      <br>
    <span style='text-style:bold;'>
      Price:</span> <%%= toy.get('price') %>
      <br>
    <span style='text-style:bold;'>
      Happiness:</span> <%%= toy.get('happiness') %>
  </li>


</script>
<script type='text/html' id='template-toy-detail'></script>
